body {
  padding: 0;
  margin:  0;
  height: 100vh;
  background-color: white;
  font-family: asd;
  font-size: 1.35em;
  overflow-x: hidden;
  overflow-y: hidden;
  color: black;
  word-break: break-all;
  line-height: 0.1em;
  filter: blur(0.1px);
}

.text {
  position: absolute;
  z-index: 3;
  user-select: none;
  transition: opacity 1s ease-in-out;
}

.text:focus,
.text:hover {
  opacity: 0%;
}

@media screen and (min-width: 1024px) {
  div.what {
    font-size: 30px;
    line-height: 0.3em;
  }
  span.shapes {
    top: 10em;
  }
}


@media screen and (min-width: 601px) and (max-width: 1023px) {
  div.what {
    font-size: 30px;
    line-height: 0.3em;
  }
  span.shapes {
    top: 10em;
  }
}

@media screen and (max-width: 600px) {
  div.what {
    font-size: 19px;
    line-height: 0.35em;
  }
  .container {
    width: 200%;
  }
  span.shapes {
    top: 10em;
  }
}

a:link {
  color: #00B9F4;
  text-decoration: none;
}

a:visited {
  color: #00B9F4;
}

a:hover {
  color: #00B9F4;
  filter: blur(3px);
}

a:active {
  color: #00B9F4;
  filter: blur(3px);
}

.shapes svg {
  overflow: visible;
  filter: blur(0.5px);
}

@font-face {
  font-family: as;
  font-style: normal;
  src: url("../fonts/Graphik-Semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: asd;
  font-style: normal;
  src: url("../fonts/946Latin-Regular3.woff2") format("woff2");
  font-display: swap;
}

.background-image {
  position: fixed;
  min-height: 200vh;
  max-width: 100vw;
  top: -20em;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.shapes {
  z-index: 2;
  position: relative;
  top: 3em;
}

.yolo {
  filter: blur(0.1px);
}

.st01 {
  animation: asd 55s linear infinite;
  transform-origin: 70% 70%;

}

.st02 {
  animation: asd 55s linear infinite;
  transform-origin: 70% 70%;
}

.st1 {
  animation: asd 45s linear infinite;
  transform-origin: 60% 80%;
}

.st2 {
  animation: asd 35s linear infinite;
  transform-origin: 50% 70%;
}

.st3 {
  animation: asd 50s linear infinite;
  transform-origin: 40% 80%;
}

.st4 {
  animation: asd 40s linear infinite;
  transform-origin: 80% 80%;
}

.st5 {
  animation: asd 35s linear infinite;
  transform-origin: 50% 80%;
}

.st6 {
  animation: asd 55s linear infinite;
  transform-origin: 30% 90%;
}

.st7 {
  animation: asd 40s linear infinite;
  transform-origin: 90% 90%;
}

.st8 {
  animation: asd 50s linear infinite;
  transform-origin: 35% 60%;
}

.st9 {
  animation: asd 45s linear infinite;
  transform-origin: 50% 70%;
}

.st10 {
  animation: asd 40s linear infinite;
  transform-origin: 90% 90%;
}

.st11 {
  animation: asd 25s linear infinite;
  transform-origin: 90% 80%;
}

.st12 {
  animation: asd 55s linear infinite;
  transform-origin: 60% 90%;
}

@keyframes asd {
  0% {
    transform: rotate(0) translateY(0);
    background-position: 0% 50%;
  }
  50% {
    transform: rotate(10deg) translateY(200px);
    background-position: 50% 50%;
  }
  100% {
    transform: rotate(0);
    background-position: 0% 50%;
  }
}
