body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: white;
  font-family: as;
  font-size: 2em;
  overflow: hidden;
  color: lightcyan;
}

a:visited {
  color: black;
}

a:active {
  color:lightcyan;
}

@font-face {
  font-family: as;
  font-weight: 90;
  font-style: normal;
  src: url("../fonts/AUTHENTICSans-90.woff2") format("woff2");
  font-display: swap;
}

.background {
  z-index: 1;
  position: relative;
  height: 100vh;
}

.text {
  z-index: 3;
  position: absolute;
}

.shapes {
  z-index: 2;
  position: relative;
  top: 10em;
}

.st0-1 {
  animation: asd 30s linear infinite;
  transform-origin: 70% 50%;
}

.st1 {
  animation: asd 30s linear infinite;
  transform-origin: 60% 80%;
}

.st2 {
  animation: asd 30s linear infinite;
  transform-origin: 50% 70%;
}

.st3 {
  animation: asd 30s linear infinite;
  transform-origin: 40% 80%;
}

.st4 {
  animation: asd 30s linear infinite;
  transform-origin: 70% 80%;
}

@keyframes asd {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
